* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(43, 49, 54);
}

@keyframes animation-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.systeme {
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.systeme__planetsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 1rem;
  padding-left: calc(50vw - 6rem);
  z-index: 1;
}
.systeme__planetsContainer__sun {
  position: relative;
}
.systeme__planetsContainer__sun__asteroidBelt {
  width: 36rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 36rem;
}
.systeme__internalPlanets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.systeme__externalPlanets {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.systeme__starsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.systeme__informations {
  font-family: "Roboto", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  left: -50%;
  top: 0;
  margin: 10px;
  padding: 10px;
  height: auto;
  width: auto;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  border-radius: 10px;
}
.systeme__informations.btn-fermeture {
  cursor: pointer;
}
.systeme__informations__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.systeme__informations__header .nomBody {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
}
.systeme__informations__bodyInfos {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}
.systeme__informations__bodyInfos__label {
  font-size: 1rem;
  font-weight: 600;
}
.systeme__informations__lienWiki {
  color: black;
}

.systeme__selectBody {
  font-family: "Roboto", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  left: 0;
  top: 68vh;
  margin: 10px;
  padding: 10px;
  height: auto;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.systeme__selectBody__body {
  cursor: pointer;
}
.systeme__selectBody__body:hover {
  color: rgba(212, 111, 111, 0.855);
}

.systeme__planetsContainer__sun {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  background-image: url("../images/sun.svg");
  flex-shrink: 0;
  border-radius: 0;
}

.systeme__planetsContainer__sun__asteroidBelt {
  width: 36rem;
  height: 36rem;
  border-radius: 100%;
  background-image: url("");
  flex-shrink: 0;
  background: radial-gradient(circle, rgba(168, 168, 168, 0) 0%, rgba(168, 168, 168, 0) 63%, rgb(172, 172, 172) 65%, rgb(172, 172, 172) 66%, rgba(114, 114, 114, 0) 69%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0;
}

.planetMercury {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-image: url("../images/mercury.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -7rem 0.5rem;
  animation: animation-rotate 5s linear infinite;
}
.planetVenus {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-image: url("../images/venus.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -9rem 1rem;
  animation: animation-rotate 7s linear infinite;
}
.planetEarth {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-image: url("../images/earth.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -12rem 1rem;
  animation: animation-rotate 10s linear infinite;
}
.planetMars {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-image: url("../images/mars.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -15rem 0.5rem;
  animation: animation-rotate 12s linear infinite;
}
.planetJupiter {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background-image: url("../images/jupiter.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -17rem 3rem;
  animation: animation-rotate 15s linear infinite;
}
.planetSaturn {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-image: url("../images/saturn.svg");
  flex-shrink: 0;
  border-radius: 0;
  position: relative;
  transform-origin: -24rem 2.5rem;
  animation: animation-rotate 20s linear infinite;
}
.planetUranus {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-image: url("../images/uranus.svg");
  flex-shrink: 0;
  border-radius: 0;
  position: relative;
  transform-origin: -30rem 2rem;
  animation: animation-rotate 25s linear infinite;
}
.planetNeptune {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-image: url("../images/neptune.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -35rem 2rem;
  animation: animation-rotate 30s linear infinite;
}

.satellite, .satelliteDeimos, .satellitePhobos, .satelliteMoon {
  background-color: red;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
}
.satelliteMoon {
  transform-origin: 50% calc(50% + 1rem);
  animation: animation-rotate 5s linear infinite;
  background-color: gray;
}
.satellitePhobos {
  transform-origin: 50% calc(50% + 0.5rem);
  animation: animation-rotate 5s linear infinite;
  background-color: white;
}
.satelliteDeimos {
  transform-origin: 50% calc(50% + 0.5rem);
  animation: animation-rotate 7s linear infinite;
  background-color: orange;
}

.star {
  width: 15px;
  height: 15px;
}
.star:nth-child(1) {
  position: absolute;
  top: 27%;
  left: 78%;
  rotate: 138deg;
  filter: blur(2px);
}
.star:nth-child(2) {
  position: absolute;
  top: 17%;
  left: 10%;
  rotate: 50deg;
  filter: blur(3px);
}
.star:nth-child(3) {
  position: absolute;
  top: 56%;
  left: 74%;
  rotate: 286deg;
  filter: blur(3px);
}
.star:nth-child(4) {
  position: absolute;
  top: 84%;
  left: 34%;
  rotate: 78deg;
  filter: blur(3px);
}
.star:nth-child(5) {
  position: absolute;
  top: 56%;
  left: 15%;
  rotate: 125deg;
  filter: blur(1px);
}
.star:nth-child(6) {
  position: absolute;
  top: 79%;
  left: 58%;
  rotate: 181deg;
  filter: blur(3px);
}
.star:nth-child(7) {
  position: absolute;
  top: 75%;
  left: 3%;
  rotate: 259deg;
  filter: blur(3px);
}
.star:nth-child(8) {
  position: absolute;
  top: 87%;
  left: 52%;
  rotate: 302deg;
  filter: blur(2px);
}
.star:nth-child(9) {
  position: absolute;
  top: 25%;
  left: 80%;
  rotate: 277deg;
  filter: blur(3px);
}
.star:nth-child(10) {
  position: absolute;
  top: 64%;
  left: 68%;
  rotate: 265deg;
  filter: blur(3px);
}
.star:nth-child(11) {
  position: absolute;
  top: 52%;
  left: 34%;
  rotate: 298deg;
  filter: blur(3px);
}
.star:nth-child(12) {
  position: absolute;
  top: 82%;
  left: 1%;
  rotate: 238deg;
  filter: blur(1px);
}
.star:nth-child(13) {
  position: absolute;
  top: 56%;
  left: 28%;
  rotate: 318deg;
  filter: blur(3px);
}
.star:nth-child(14) {
  position: absolute;
  top: 58%;
  left: 50%;
  rotate: 281deg;
  filter: blur(1px);
}
.star:nth-child(15) {
  position: absolute;
  top: 58%;
  left: 17%;
  rotate: 76deg;
  filter: blur(1px);
}
.star:nth-child(16) {
  position: absolute;
  top: 87%;
  left: 63%;
  rotate: 28deg;
  filter: blur(3px);
}
.star:nth-child(17) {
  position: absolute;
  top: 78%;
  left: 37%;
  rotate: 296deg;
  filter: blur(2px);
}

.help {
  font-family: "Roboto", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  left: 80%;
  top: 0;
  margin: 10px;
  padding: 10px;
  height: auto;
  width: auto;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */