* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(43, 49, 54);
}

@keyframes animation-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.systeme {
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.systeme__planets-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1080px;
  width: 1920px;
  gap: 1rem;
  padding-left: calc(50vw - 6rem);
  z-index: 1;
}
.systeme__planets-container__sun {
  position: relative;
}
.systeme__planets-container__sun__asteroid-belt {
  width: 36rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 36rem;
}
.systeme__internal-planets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.systeme__external-planets {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.systeme__stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.systeme__informations {
  font-family: "Roboto", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  left: -50%;
  top: 0;
  margin: 10px;
  padding: 10px;
  height: auto;
  width: auto;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  border-radius: 10px;
}
.systeme__informations.btn-fermeture {
  cursor: pointer;
}
.systeme__informations__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.systeme__informations__header .nomBody {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
}
.systeme__informations__bodyInfos {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}
.systeme__informations__bodyInfos__label {
  font-size: 1rem;
  font-weight: 600;
}
.systeme__informations__lienWiki {
  color: black;
}

.selectBody {
  font-family: "Roboto", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  left: 0;
  top: 68vh;
  margin: 10px;
  padding: 10px;
  height: auto;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  border-radius: 10px;
}
.selectBody__body {
  cursor: pointer;
}

.systeme__planets-container__sun {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  background-image: url("../images/sun.svg");
  flex-shrink: 0;
  border-radius: 0;
}

.systeme__planets-container__sun__asteroid-belt {
  width: 36rem;
  height: 36rem;
  border-radius: 100%;
  background-image: url("");
  flex-shrink: 0;
  background: radial-gradient(circle, rgba(168, 168, 168, 0) 0%, rgba(168, 168, 168, 0) 63%, rgb(172, 172, 172) 65%, rgb(172, 172, 172) 66%, rgba(114, 114, 114, 0) 69%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0;
}

.planet--mercury {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-image: url("../images/mercury.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -7rem 0.5rem;
  animation: animation-rotate 5s linear infinite;
}
.planet--venus {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-image: url("../images/venus.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -9rem 1rem;
  animation: animation-rotate 7s linear infinite;
}
.planet--earth {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-image: url("../images/earth.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -12rem 1rem;
  animation: animation-rotate 10s linear infinite;
}
.planet--mars {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-image: url("../images/mars.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -15rem 0.5rem;
  animation: animation-rotate 12s linear infinite;
}
.planet--jupiter {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background-image: url("../images/jupiter.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -17rem 3rem;
  animation: animation-rotate 15s linear infinite;
}
.planet--saturn {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-image: url("../images/saturn.svg");
  flex-shrink: 0;
  border-radius: 0;
  position: relative;
  transform-origin: -24rem 2.5rem;
  animation: animation-rotate 20s linear infinite;
}
.planet--uranus {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-image: url("../images/uranus.svg");
  flex-shrink: 0;
  border-radius: 0;
  position: relative;
  transform-origin: -30rem 2rem;
  animation: animation-rotate 25s linear infinite;
}
.planet--neptune {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-image: url("../images/neptune.svg");
  flex-shrink: 0;
  position: relative;
  transform-origin: -35rem 2rem;
  animation: animation-rotate 30s linear infinite;
}

.satellite, .satellite--deimos, .satellite--phobos, .satellite--moon {
  background-color: red;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
}
.satellite--moon {
  transform-origin: 50% calc(50% + 1rem);
  animation: animation-rotate 5s linear infinite;
  background-color: gray;
}
.satellite--phobos {
  transform-origin: 50% calc(50% + 0.5rem);
  animation: animation-rotate 5s linear infinite;
  background-color: white;
}
.satellite--deimos {
  transform-origin: 50% calc(50% + 0.5rem);
  animation: animation-rotate 7s linear infinite;
  background-color: orange;
}

.star {
  width: 15px;
  height: 15px;
}
.star:nth-child(1) {
  position: absolute;
  top: 22%;
  left: 50%;
  rotate: 197deg;
  filter: blur(2px);
}
.star:nth-child(2) {
  position: absolute;
  top: 74%;
  left: 49%;
  rotate: 108deg;
  filter: blur(1px);
}
.star:nth-child(3) {
  position: absolute;
  top: 63%;
  left: 88%;
  rotate: 166deg;
  filter: blur(2px);
}
.star:nth-child(4) {
  position: absolute;
  top: 97%;
  left: 73%;
  rotate: 273deg;
  filter: blur(1px);
}
.star:nth-child(5) {
  position: absolute;
  top: 41%;
  left: 80%;
  rotate: 148deg;
  filter: blur(1px);
}
.star:nth-child(6) {
  position: absolute;
  top: 16%;
  left: 17%;
  rotate: 321deg;
  filter: blur(1px);
}
.star:nth-child(7) {
  position: absolute;
  top: 28%;
  left: 9%;
  rotate: 79deg;
  filter: blur(3px);
}
.star:nth-child(8) {
  position: absolute;
  top: 24%;
  left: 3%;
  rotate: 194deg;
  filter: blur(3px);
}
.star:nth-child(9) {
  position: absolute;
  top: 80%;
  left: 65%;
  rotate: 191deg;
  filter: blur(1px);
}
.star:nth-child(10) {
  position: absolute;
  top: 18%;
  left: 57%;
  rotate: 219deg;
  filter: blur(3px);
}
.star:nth-child(11) {
  position: absolute;
  top: 71%;
  left: 51%;
  rotate: 285deg;
  filter: blur(3px);
}
.star:nth-child(12) {
  position: absolute;
  top: 81%;
  left: 57%;
  rotate: 146deg;
  filter: blur(1px);
}
.star:nth-child(13) {
  position: absolute;
  top: 27%;
  left: 29%;
  rotate: 58deg;
  filter: blur(2px);
}
.star:nth-child(14) {
  position: absolute;
  top: 81%;
  left: 17%;
  rotate: 233deg;
  filter: blur(1px);
}
.star:nth-child(15) {
  position: absolute;
  top: 38%;
  left: 73%;
  rotate: 111deg;
  filter: blur(1px);
}
.star:nth-child(16) {
  position: absolute;
  top: 63%;
  left: 38%;
  rotate: 232deg;
  filter: blur(1px);
}
.star:nth-child(17) {
  position: absolute;
  top: 11%;
  left: 11%;
  rotate: 76deg;
  filter: blur(2px);
}

.help {
  font-family: "Roboto", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  left: 80%;
  top: 0;
  margin: 10px;
  padding: 10px;
  height: auto;
  width: auto;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */