@use "../abstracts/all" as abstracts;
@use "sass:map";


.satellite{
    background-color: red;
    width: abstracts.$satellite_size;
    height: abstracts.$satellite_size;
    border-radius: 100%;
    position: absolute;
    top:0;
    left:50%;
    translate: -50% -50%;


    &Moon{
        @extend .satellite;
        @include abstracts.rotate-around-planet(map.get(map.get(abstracts.$planets, "Earth"), "size"));
        background-color: gray;
    }
    
    &Phobos{
        @extend .satellite;
        @include abstracts.rotate-around-planet(map.get(map.get(abstracts.$planets, "Mars"), "size"));
        background-color: white;
        
    }
    
    &Deimos{
        @extend .satellite;
        @include abstracts.rotate-around-planet((map.get(map.get(abstracts.$planets, "Mars"), "size")), 7s);
        background-color: orange;
    }

}
