@use "./variables" as var;
@use "./fonts" as fonts;
@use "sass:math";

@mixin circle($diametre, $url: ""){
    width: $diametre;
    height: $diametre;
    border-radius: 100%;
    //background-color: $color;
    background-image: url($url);
    //background-repeat: no-repeat;
    flex-shrink: 0;
}

@mixin rotate-around-planet($planet-size, $duration:5s){
    $center-x: 50%;
    $center-y: calc(50% + math.div($planet-size, 2));
    transform-origin: $center-x $center-y;
    animation: animation-rotate $duration linear infinite;
}

@mixin rotate-around-sun($distance-to-sun, $planet-size, $duration:5s){
    $center-x: calc(($distance-to-sun + math.div(var.$sun_size, 2))*-1);
    $center-y: calc($planet-size / 2);
    transform-origin: $center-x $center-y;
    animation: animation-rotate $duration linear infinite;
}

@mixin boxInterface($left, $top, $width:150px){
    font-family: fonts.$font-family-sans-serif;
    position :absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    left:$left;
    top:$top;
    margin: 10px;
    padding:10px;
    height:auto;
    width: $width;
    background-color: rgba(255,255,255,0.5);
    z-index: 2;
    border-radius: 10px;
}


